* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-image: url('./assets/Mountain\ Background-Page-1.png');
  background-size: cover;
  background-position: bottom;
  transition: 1.5s ease-out;
}

.app.warm {
  background-image: url('./assets/Mountain\ Background-Page-6.png');
}

.location .date .weather {
  transition: 1.5s ease-out;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 6rem;
}

.search-bar {
  display: block;
  width: 100%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box {
  margin-bottom: 3rem;
}

.location {
  color: #FFF;
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: #FFF;
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 20px 30px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

.weather {
  color: #FFF;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
}

@media screen and (min-width: 1010px){

  .location-box {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather-box {
    width: 500px;
    height: auto;
    display: flex;
    align-items: flex-end;
  }

  .weather {
    text-align: center;
    margin-top: 2rem;
    font-size: 90px;
    font-weight: 1200;
    text-shadow: 6px 6px rgba(50, 50, 70, 0.5);
  }

  .temp{
    padding: 5rem 8rem;
    border-radius: 40px;
    box-shadow: 9px 18px rgba(0, 0, 0, 0.2);
  }

  .location {
    font-size: 80px;
  }

  .dataContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .search-box {
    position: relative;
    width: 72%;
    left: 15%;
  }
  
}